<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Your <strong>movies</strong> lists !</h1>
  </div>
</div>

<div class="row align-items-center m-1">
  <% @lists.each do |list| %>
  <div class="card-trip col-3">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= link_to list.name, list_path(list) %></h2>
    </div>
  </div>
  </div>
  <% end %>
</div>
